<h1 mat-dialog-title>导入项目</h1>
<div mat-dialog-content>
  <div style="display: flex;">
    <app-path-preview [path]="data.path ?? ''"></app-path-preview>
    <div style="padding:0 32px;">
      <p>
        使用"<strong>导入</strong>"将此 SVG Path 导入编辑器。
      </p>
      <p>
        注意：这将清除所有未保存的更改！
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="primary">取消</button>
  <button mat-raised-button (click)="onConfirm()" color="accent" [disabled]="false">
    导入
  </button>
</div>