<h1 mat-dialog-title>链接分享</h1>
<div mat-dialog-content>
  <div style="display: flex;">
    <app-path-preview [path]="data.path ?? ''"></app-path-preview>
    <div style="padding:0 32px; flex:1">
      <p>您可以使用以下链接分享当前 Path：</p>
      <mat-form-field style="width: 100%;">
        <mat-label>URL</mat-label>
        <input matInput readonly [ngModel]="getUrl()" #input>
        <button mat-icon-button matSuffix matTooltip="复制到剪贴板" (click)="copy()">
          <mat-icon>content_pasted</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="default">关闭</button>
</div>